@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="text-center" style='
    height: 100vh;
  background-image: url("https://d500.epimg.net/cincodias/imagenes/2021/12/28/legal/1640691340_251984_1640691445_noticia_normal.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-opacity: 0.5;

'>-->
<div class="text-center">
    <h1 class="display-4">Bienvenido al Buffet de Abogados</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Soluciones Judiciales y de Software ;D</a>.</p>

</div>
