@page
@model Proyecto.App.SitioWeb.Pages.EditModel
@{
}
<!-- Mostrar los datos a editar del modelo cliente -->
<h1>Editar</h1>
<h4>Cliente</h4>
<form method='post'>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="cliente.nombre" class="control-label"></label>
        <input asp-for="cliente.nombre" class="form-control" />
        <span asp-validation-for="cliente.nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.apellido" class="control-label"></label>
        <input asp-for="cliente.apellido" class="form-control" />
        <span asp-validation-for="cliente.apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.edad" class="control-label"></label>
        <input asp-for="cliente.edad" class="form-control" />
        <span asp-validation-for="cliente.edad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.genero" class="control-label"></label>
        <input asp-for="cliente.genero" class="form-control" />
        <span asp-validation-for="cliente.genero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.paisId" class="control-label"></label>
        <input asp-for="cliente.paisId" class="form-control" />
        <span asp-validation-for="cliente.paisId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.ciudadId" class="control-label"></label>
        <input asp-for="cliente.ciudadId" class="form-control" />
        <span asp-validation-for="cliente.ciudadId" class="text-danger"></span>
    </div>
    <!-- Asignar Id del cliente a editar -->
    <input type="hidden" asp-for="cliente.clienteId" />
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>


